# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

.tfstate
.tfstate.backup

dist
.lock.hcl

.terraform

.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
package-lock.json
.terraform